In [1]:
import psycopg2

In [2]:
hostname = '54.179.102.112'
database = 'finalproject'
username = 'finalproject'
pwd = 'finalproject'
port = 15432

In [3]:
hostname2 = '10.148.0.3'
database2 = 'stockoverflow'
username2 = 'stockoverflow'
pwd2 = 'stockoverflow'
port2 = 5432

In [13]:
conn = psycopg2.connect(
    host = hostname,
    dbname = database,
    user = username,
    password = pwd,
    port = port
    )
cur = conn.cursor()

In [26]:
conn2 = psycopg2.connect(
    host = hostname2,
    dbname = database2,
    user = username2,
    password = pwd2,
    port = port2
    )
cur2 = conn2.cursor()

In [33]:
#insert users

In [6]:
cur.execute("SELECT id,username,birthday,gender,created_at FROM users")
records = cur.fetchall()
print(records[0])

(2, '彭怡君', datetime.date(1970, 1, 25), 'F', datetime.datetime(2022, 12, 8, 11, 44, 42, 406373, tzinfo=datetime.timezone.utc))

In [25]:
insert_script = 'insert into users (id,username,birthday,gender,created_at) values (%s,%s,%s,%s,%s)'
insert_value = records
for items in insert_value:
    cur2.execute(insert_script, items)
conn2.commit()

IndexError: tuple index out of range

In [ ]:
#insert chatrooms

In [10]:
cur.execute("SELECT id,name,host,created_at FROM chatrooms")
records = cur.fetchall()
print(records[0])

(1, 'user group 2', 2, datetime.datetime(2022, 12, 8, 11, 44, 46, 17903, tzinfo=datetime.timezone.utc))

In [11]:
insert_script = 'insert into chatrooms (id,name,host,created_at) values (%s,%s,%s,%s)'
insert_value = records
for items in insert_value:
    cur2.execute(insert_script, items)
conn2.commit()

In [ ]:
#insert chatroom_record

In [15]:
cur.execute('SELECT id,chatroom,"user",record,created_at FROM chatroom_record')
records = cur.fetchall()
print(records[0])

(1, 1, 1, 'hi from 1', datetime.datetime(2022, 12, 8, 11, 44, 46, 135150, tzinfo=datetime.timezone.utc))

In [16]:
insert_script = 'insert into chatroom_record (id,chatroom,"user",record,created_at) values (%s,%s,%s,%s,%s)'
insert_value = records
for items in insert_value:
    cur2.execute(insert_script, items)
conn2.commit()

In [ ]:
#insert chatroom_user

In [17]:
cur.execute('SELECT id,member,chatroom,created_at FROM chatroom_user')
records = cur.fetchall()
print(records[0])

(1, 1, 1, datetime.datetime(2022, 12, 8, 11, 44, 46, 23134, tzinfo=datetime.timezone.utc))

In [18]:
insert_script = 'insert into chatroom_user (id,member,chatroom,created_at) values (%s,%s,%s,%s)'
insert_value = records
for items in insert_value:
    cur2.execute(insert_script, items)
conn2.commit()

In [ ]:
#insert questions

In [19]:
cur.execute('SELECT id,asker_id,content,tag_id,created_at FROM questions')
records = cur.fetchall()
print(records[0])

(1, 9, '依隻可以買嗎？', 1, datetime.datetime(2022, 12, 8, 11, 44, 45, 790738, tzinfo=datetime.timezone.utc))

In [20]:
insert_script = 'insert into questions (id,asker_id,content,tag_id,created_at) values (%s,%s,%s,%s,%s)'
insert_value = records
for items in insert_value:
    cur2.execute(insert_script, items)
conn2.commit()

In [ ]:
#insert answers

In [21]:
cur.execute('SELECT id,question_id,answerer_id,content,created_at FROM answers')
records = cur.fetchall()
print(records[0])

(1, 1, 21, '玩過山車咁，一日天堂一日地獄', datetime.datetime(2022, 12, 8, 11, 44, 45, 793068, tzinfo=datetime.timezone.utc))

In [22]:
insert_script = 'insert into answers (id,question_id,answerer_id,content,created_at) values (%s,%s,%s,%s,%s)'
insert_value = records
for items in insert_value:
    cur2.execute(insert_script, items)
conn2.commit()

In [ ]:
#insert answers

In [23]:
cur.execute('SELECT id,user_id,answer_id FROM ans_likes')
records = cur.fetchall()
print(records[0])

(2, 24, 59)

In [27]:
insert_script = 'insert into ans_likes (id,user_id,answer_id) values (%s,%s,%s)'
insert_value = records
for items in insert_value:
    cur2.execute(insert_script, items)
conn2.commit()

In [ ]:
#insert stocks

In [28]:
cur.execute('SELECT id,symbol,name FROM stocks')
records = cur.fetchall()
print(records[0])

(1, 'BTLLF', 'North Peak Resources Ltd.')

In [29]:
insert_script = 'insert into stocks (id,symbol,name) values (%s,%s,%s)'
insert_value = records
for items in insert_value:
    cur2.execute(insert_script, items)
conn2.commit()

In [ ]:
#insert tags

In [30]:
cur.execute('SELECT id,tag_id,stock_id FROM tags')
records = cur.fetchall()
print(records[0])

(1, 1, None)

In [ ]:
insert_script = 'insert into tags (id,tag_id,stock_id) values (%s,%s,%s)'
insert_value = records
for items in insert_value:
    cur2.execute(insert_script, items)
conn2.commit()

In [35]:
cur.close()
conn.close()

In [62]:
cur2.close()
conn2.close()